<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--
  Copyright (c) 2005, Carlos Rodrigues <cefrodrigues@mail.telepac.pt>
  
  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License (version 2) as
  published by the Free Software Foundation.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
-->

<html>
<head>
    <style type="text/css">
        body {
            font-family: "Bitstream Vera Sans", verdana, helvetica, sans-serif;
            font-size: 13px;
            margin: 0px;
            color: black;
            background: white;
        }
        
        a:link {
            color: #ff7b00;
        }
        
        a:visited {
            color: #b35600;
        }
        
        a:hover {
            color: #ff7b00;
        }
        
        a:active {
            color: #ff7b00;
        }
        
        #header {
            font-family: "Lucida Sans", arial, helvetica, sans-serif;
            text-align: left;
            color: black;
        }
        
        #header h1 {
            font-style: italic;
            font-weight: bold;
            font-size: 35px;
            padding: 5px;
            margin: 0;
            color: white;
            background: #807973;
        }
        
        #header .navigation {
            font-size: 14px;
            color: #444;
            margin: 0px;
            padding: 5px;
            background: #d9d4c3;
            border-bottom: 1px solid #807d73;
        }
        
        #header .navigation p {
            display: inline;
        }
        
        #header .navigation h2 {
            display: inline;
            font-size: 14px;
            font-style: normal;
            font-weight: bold;
            padding: 0 6px 0 6px;
            margin: 0;
        }
        
        #header .navigation a:link {
            color: white;
            text-decoration: none;
        }
        
        #header .navigation a:visited {
            color: white;
            text-decoration: none;
        }
        
        #header .navigation a:hover {
            color: #444;
            text-decoration: none;
        }
        
        #header .navigation a:active {
            color: white;
            text-decoration: none;
        }
        
        #contents {
            margin: 20px;
            line-height: 1.5em;
        }
        
        #contents h3 {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            color: black;
            padding: 2px 5px 2px 1px;
            margin: 10px 0 0 0;
            border-bottom: 1px solid black;
        }
        
        #contents h4 {
            font-size: small;
            font-weight: bold;
            margin: 0;
        }

        #contents .message {
            line-height: 1em;
            text-align: center;
            font-size: 11px;
            padding: 10px;
            margin: 20px auto 20px auto;
            width: 70%;
            border: 1px solid #f2f2a4;
            background: #fbfbcf;
        }
        
        #contents .graph {
            text-align: center;
            padding: 5px;
            margin: 8px;
        }
        
        #contents .graph img {
            color: black;
            padding: 0;
            margin: 0;
            border: 1px solid #888;
        }
        
        #footer {
            text-align: left;
            font-size: 11px;
            font-weight: normal;
            font-style: italic;
            color: black;
            padding: 5px;
            margin: 15px;
            border-top: 1px solid black;
        }
    </style>    
    <title>$hostname - $description</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta http-equiv="refresh" content="$refresh"/>
</head>
<body>
<div id="header">
    <h1>$name</h1>
    <div class="navigation">
        #if $is_toplevel:
            <p>&laquo;&laquo;</p><h2>$hostname</h2><p>- $description</p>
        #else
            <p><a href="../">&laquo;&laquo;</a></p><h2>$hostname</h2><p>- $description</p>
        #end if
    </div>
</div>
<div id="contents">
$body
</div>
<div id="footer">
    Generated by <a href="http://code.google.com/p/quicklook/">$name</a> <em>$version</em> - Last update: $time
</div>
</body>
</html>
