<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--
  Copyright (c) 2005-2007, Carlos Rodrigues <cefrodrigues@mail.telepac.pt>
  
  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License (version 2) as
  published by the Free Software Foundation.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
-->

#from templates.skeleton import skeleton
#extends skeleton

#def body
#for $interface in $interfaces:
    <h3>Byte and Packet Rates for "$interface"</h3>
    <div class="graph">
        <img src="$interface/graph-bytes-1day.png" alt="daily bytes graph"/><br/>
        [<a href="$interface/bytes.html">more info</a>]
    </div>
    <div class="graph">
    	<img src="$interface/graph-packets-1day.png" alt="daily packets graph"/><br/>
    	[<a href="$interface/packets.html">more info</a>]
    </div>
#end for
#end def
